li {
    list-style: none;
}

header {
    background: #353535;
    color: white;
    padding: 10px;
}

body, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header ul li a:hover {
    background: #efb739;
    color: #353535;
}

header ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#logo {
    display: block;
    max-width: 70px;
}

* {
    box-sizing: border-box;
}

#sidebar {
    width: 19%;
    font-size: 19px;
}

#content {
    width: 78%;
}

#sidebar, #content {
    margin: 15px 0;
    box-shadow: 0px 0px 5px 1px #353535;
    padding: 5px 15px 5px 15px;
}

#content {
    padding: 10px 15px;
    margin-right: 5px;
}

#sidebar {
    margin-left: 8px;
    margin-right: 8px;
}

#sidebar ul li a {
    display: block;
    padding: 10px 0px;
    color: #353535;
    border-bottom: 1px dashed black;
    border-color: #353535;
    font-weight: bold;
}

#sidebar ul li a:hover {
    color: #efb739;
    border-bottom: 1px dashed #efb739;
}

#sidebar ul li:last-child a {
    border: none;
}

#sidebar:hover, #content:hover {
    border-color: #efb739;
    box-shadow: 0px 0px 5px 1px #efb739;
}

#main {
    align-items: flex-start;
}

a {
    text-decoration: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 23%;
    box-shadow: 0 0 3px 1px #353535;
    margin-bottom: 15px;
    padding: 15px;
    color: #353535;
}

.product:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0 3px 1px #efb739;
}

.product h2 {
    margin: 0 0 15px 0;
}

.product img {
    max-width: 100%;
}

.p-bottom {
    display: flex;
    justify-content: space-between;
}

.p-bottom button {
    background: #353535;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.p-bottom span {
    font-weight: bold;
    font-size: 20px;
}

.p-bottom button:hover {
    background: #efb739;
    color: #353535;
}

footer {
    width: 100%;
    background: #353535;
    color: white;
    padding: 15px;
}

footer a {
    color: white;
}

footer div.container>div {
    max-width: 260px;
    width: 100%;
}

footer h3 {
    margin: 0 0 15px 0;
}

footer .container {
    align-items: center;
}

.f-links a {
    display: block;
    padding: 0 5px 0 0;
    font-size: 20px;
}

.f-links a:hover {
    color: #efb739;
}

.form-subscribe, .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-subscribe input {
    margin-bottom: 15px;
    height: 25px;
    padding: 5px;
}

.form-subscribe button {
    background: #efb739;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    color: #353535;
}

.social-links a {
    padding: 0 15px 0 0;
    display: block;
    font-size: 20px;
}

.social-links {
    padding-left: 100px;
    align-items: flex-start;
}

.social-links a:hover {
    color: #efb739;
}

footer h3 {
    color: #efb739;
}

@media (max-width: 960px) {
    .product {
        width: 32%;
    }
}

@media (max-width: 830px) {
    
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer>div.container {
        flex-direction: column;
    }
    footer div.container>div {
        text-align: center;
        padding-left: 0;
        margin-bottom: 15px;
    }
    .social-links {
        padding-left: 100px;
        align-items: center;
    }
}

@media (max-width:725px) {
    #sidebar, #content {
        min-height: auto;
    }
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    header ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
    .product {
        width: 48%;
    }
    #sidebar {
        width: 32%;
    }
    #content {
        width: 64%;
    }
    footer>div.container {
        flex-direction: column;
    }
    footer div.container>div {
        text-align: center;
        padding-left: 0;
        margin-bottom: 15px;
    }
    .social-links {
        padding-left: 100px;
        align-items: center;
    }
}

@media (max-width:570px) {
    #sidebar {
        width: 100%;
    }
    #content {
        width: 100%;
    }
    #sidebar, #content {
        text-align: center;
    }
    footer>div.container {
        flex-direction: column;
    }
    footer div.container>div {
        text-align: center;
        padding-left: 0;
        margin-bottom: 15px;
    }
    .social-links {
        padding-left: 100px;
        align-items: center;
    }
}